body {
  letter-spacing: 0.1px;
  padding: 0;
  margin: 0;
  font-family: Monospace;
  font-weight: 400;
  font-size: 17px;
  color: #c8c8c8;
  background: #222;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  padding: 0;
}

span {
  padding: 0;
  margin: 0 10px 0 0;
}

li {
  margin: 15px 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #fff;
  text-decoration: underline;
}

p {
  padding: 0;
  margin: 10px 0 30px 0;
}

img {
  width: 900px;
  max-width: 900px;
  margin-bottom: 20px;
}

#page {
  max-width: 900px;
  margin: auto;
  padding: 0 20px;
}

#content {
  max-width: 100%;
  margin: auto;
}

.header {
  height: 66px;
  width: 100%;
  margin: auto;
  margin-bottom: 50px;
  border-bottom: dotted 1px #444;
}

.logodiv {
  max-width: 900px;
  margin: auto;
  padding: 0 20px;
}

.logo {
  width: 41px;
  margin: auto;
  margin-top: 20px;
  border: solid 1px #FFF;
}

#list {
  margin-bottom: 50px;
}

#post {
  max-width: 900px;
  margin-bottom: 20px;
  margin-top: -10px;
  line-height: 28px;
}

.filter {
  display: block;
  margin-bottom: 30px;
  margin-top: -28px;
  text-align: right;
}

@media only screen and (max-width: 600px) {
  img {
    width: 100%;
  }

  body {
    font-size: 19px;
  }

  .logodiv {
    display: flex;  /* Use flexbox */
    align-items: center;  /* Align items vertically in the center */
    padding: 0 10px;
  }

  .filter {
    text-align: left;
    margin-top: 0;
    display: flex;  /* Use flexbox */
    align-items: center;  /* Align items vertically in the center */
    font-size: 13px;
  }

  .filter a {
    display: inline-block;
    padding: 5px;
    color: #fff;
    margin-right: 5px;
  }

  .menu-icon {
    display: block;
    cursor: pointer;
  }

  .filter ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
  }

  .filter ul li {
    margin: 5;
  }

  .filter.active ul {
    display: block;
  }
}
